html {
	padding: 0;
	margin: 0;
	font-family: "Nunito", sans-serif;
}

body {
	max-width: 100%;
	height: 100vh;
	background: #f5c3bc;
	background: -webkit-linear-gradient(to left, #f5c3bc , #c9485b);
	background: linear-gradient(to left, #f5c3bc , #c9485b);
	padding: 25px;

}

h2 {
	font-size: 2rem;
	line-height: 0;
	color: #c9485b;
	font-weight: 300;
	margin-bottom: 30px;
}

.list {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	max-width: 70%;
	text-align: center;
	padding: 60px 0;
	margin: 4% auto;
	top: 20%;
	-webkit-box-shadow: 18px 18px 31px -12px rgba(0,0,0,0.3);
	-moz-box-shadow: 18px 18px 31px -12px rgba(0,0,0,0.3);
	box-shadow: 18px 18px 31px -12px rgba(0,0,0,0.3);
}

.list-body {
	max-width: 80%;
	text-align: center;
	margin: 4% auto;
}

.delete-item {
	background-color:  rgba(0,0,0,0.15);
	list-style-type: none;
}

.delete-item:hover {
	background-color: #c9485b;
	cursor: pointer;
	text-decoration: none;
}

.link-delete {
	text-decoration: none;
	color: #fff;
}

.link-delete:hover {
	background-color: #c9485b;
	cursor: pointer;
	text-decoration: none;
}

.item-name, .item-value, .item-qty, .item-cost {
	list-style-type: none;
}

input {
	line-height: 2rem;
	font-size: 1.2rem;
	padding: 0 10px;
	border-top: none;
	border-bottom: 1px solid #ccc;
	border-left: none;
	border-right: none;
	background-color: transparent;
	color: #616161;
}

input:focus {
	border-bottom: 1px solid #c9485b;
	outline-width: 0;

}

.fa {
	margin-top: 25px;
	color: rgba(0,0,0,0.15);
}
